huggingface_hub
torchtext
torchinfo
diffusers
wandb
accelerate
ftfy
safetensors
openai>=1.56.2
sentence-transformers
peft

einops
pandas
numpy-stl
scikit-learn
hdbscan
umap-learn

requests
pytest
tqdm
ipykernel
notebook
ipywidgets==7.7.1
jupyterlab-widgets==1.1.1
jupyter
pre-commit
gdown
portalocker>=2.0.0
typeguard
jaxtyping
tiktoken
frozendict
tabulate
opencv-python
nbformat
docformatter
pyyaml
bitsandbytes

matplotlib
plotly
streamlit
streamlit-antd-components==0.2.5
streamlit-image-select
streamlit-on-Hover-tabs
nnsight>=0.3.5
imageio-ffmpeg
mediapy

transformer_lens==2.11.0
sae-lens>=4.0.0,<5.0.0
sae-vis>=0.3.1
git+https://github.com/callummcdougall/CircuitsVis.git#subdirectory=python
git+https://github.com/neelnanda-io/neel-plotly

inspect_ai
wikipedia
python-dotenv
anthropic>=0.42.0
instructor
